

<div class="portfolio scroll-bar" onscroll={{this.handleScroll}}>

    <nav class="header" style="position: fixed;z-index:5;">
        <a href="#home">Home </a>
        <a href="#about">About</a>
        <a href="#resume">Resume</a>
        <a href="#project">Project</a>
        <a href="#contact">Contact</a>
    </nav>

    <div id="home" class="home division" >
        <div class="content">
                <span style="font-size:70px;font-weight:900;">Naveen. B</span>
                <div class="typewriter">
                    <h1>Software Testing Engineer</h1>
                </div>
                {{!-- <span style="font-family:'Courier New', Courier, monospace;">Software Testing Engineer</span> --}}
        </div>
    </div>

       <div id="about" class="about division">
        <div class="overlay-container">
            <div class="content">
                <h3>About</h3>
                <div class="about-content">
                    <div class="about-img">
                        <img src="/naveen/naveen.png" style="border-bottom:1px solid #fff">
                    </div>
                    <div class="about-text" style="align-items: flex-start;">
                       I am a passionate and detail-oriented Software Testing Engineer with comprehensive training from QSpiders, a renowned institute known for its quality education in software testing. My journey in software testing began with a strong foundation laid during my time at QSpiders, where I gained hands-on experience in various testing methodologies, including Black-Box Testing, White-Box Testing, Unit Testing, and Integration Testing. I particularly enjoyed mastering automated testing using Selenium WebDriver for web applications. During my final project, I successfully implemented automated test cases for a complex e-commerce platform, resulting in a significant reduction in manual testing time.
                       My passion for software testing lies in the meticulous process of identifying and resolving defects. I believe in delivering high-quality software that meets user expectations and performs flawlessly.  While I'm proficient in various testing methodologies, I'm particularly interested in delving deeper into security testing to further strengthen my skills in securing applications.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="resume" class="resume division">
        <div class="overlay-container" style="background-image: linear-gradient(to left top, rgb(0 0 0 / 73%), rgb(0 0 0 / 39%), #000000c7)">
            <div class="content">
                 <h3 style="margin-top: 0px;">Resume</h3>
                 <div class="resume-content">
                    <div><div class="skills container">
                        <h4 >Skills</h4>
                        <ul>
                            <li>Java <i class="fa-brands fa-java"></i></li>
                            <li>Manual Testing</li>
                            <li>Selenium (Automation Tool)</li>
                            <li>TestNg (Automation Tool)</li>
                            <li>Extent Report (Automation Tool)</li>
                            <li>Apache POI (Automation Tool)</li>
                            <li>HTML & CSS <i class="fa-brands fa-css3-alt"></i></li>
                            <li>SQL <i class="fa-solid fa-database"></i></li>
                        </ul>
                    </div>
                     <div class="languages container">
                        <h4>Languages</h4>
                        <ul>
                            <li>English</li>
                            <li>Tamil</li>
                        </ul>
                    </div></div>
                    <div class="education container">
                        <h4 >Education</h4>
                        <div class="edu">
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    SSLC (2016 - 2017)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 69</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    HSC (2018 - 2019)<br>
                                    <span style="font-size: 12px;">
                                        Velammal Memorial Matric Hr. Sec. School
                                        <ul>
                                            <li>Percentage - 65</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Bachelor of Commerce (2019 - 2022)<br>
                                    <span style="font-size: 12px;">
                                        SRM Institute of Science and Technology
                                        <ul>
                                            <li>CGPA - 7.85</li>
                                        </ul>
                                    </span>
                                </div>
                             </div>

                             <div class="edu-container">
                                <div class="timeline">
                                    <div class="dot">•</div>
                                    <div class="line"></div>
                                </div>
                                <div class="details">
                                    Master Of Business Administration (2022 - 2024)<br>
                                    <span style="font-size: 12px;">
                                        University of Madras
                                    </span>
                                </div>
                             </div>
                        </div>
                    </div>

                    <div>

                    <div class="work-exp container" style="max-width: 80%;">
                        <h4 >Work Experience</h4>
                        <ul>
                            <li style="line-height: 25px;"> SUTHERLAND GLOBAL SERVICE <br>[ AMAZON CUSTOMER SUPPORT EXECUTIVE ] <br>June 2022 – April 2023 Communicating with Customers.<br> Explaining the details about the product and the subscription sold by Amazon.</li>
                        </ul>
                    </div>
                    <div class="hobbies container">
                        <h4>Hobbies & Interests</h4>
                        <div class="details">
                            <div class="hobby">
                                <i class="fa-solid fa-baseball"></i>
                                <span>Cricket</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-brands fa-spotify"></i>
                                <span>Music</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-volleyball"></i>
                                <span>Volley Ball</span>
                            </div>
                             <div class="hobby">
                                <i class="fa-solid fa-basketball"></i>
                                <span>Throw Ball</span>
                            </div>
                        </div>
                    </div>
                    <div class="download-cv container">
                        <a href="/naveen/Naveen_Resume.docs" download="Naveen_Resume.docs">                         
                         <div class="parent">
                            <span style="width:70px;padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">Naveen's Resume <i class="fa-solid fa-download"></i></span>  
                            <div class="tooltip">click to download Naveen's Resume</div>
                         </div>
                        </a>
                    </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div id="project" class="project division">
        <div class="overlay-container">
            <div class="content">
                <h3 style="margin-top: 0px;">Project</h3>
                <div class="project-content">
                  <div>
                    <h4>Overview</h4>
                    <p style="padding-left:15px;text-indent: 30px;font-size:13px;">
                        The objective of the E-commerce(Shoppers Stock) Website Testing Project is a Maven Project to ensure the functionality, usability, security, and performance of an e-commerce website before its deployment to production. The project aims to identify and rectify any defects or issues that may impact the user experience or compromise the integrity of the website.
                    </p>
                  </div>
                  <div class="tech-used">
                    <h4>Technologies Used</h4>
                     <table style="padding-left:15px;">
                        <tbody>
                            <tr>
                                <td>Selenium: </td>
                                <td> provides a playback tool for authoring functional tests across most modern web browsers</td>
                            </tr>
                            <tr>
                                <td>TestNg: </td>
                                <td>Annotions are easy to understand,easy to group test case, parallel testing is possible</td>
                            </tr>
                            <tr>
                                <td>Extent Report:  </td>
                                <td>Displays the time taken for the test case execution within the report. Each test step can be associated with the screenshot. Multiple test case runs with in a single shoot can be tracked easily.</td>
                            </tr>
                            <tr>
                                <td>Apache POI: </td>
                                <td>Fetch data from the MS-Office and provides pure java libraries for reading and writing file in microsoft office format such as word,powerpoint,excel,etc..</td>
                            </tr>
                        </tbody>
                     </table>
                  </div>

                  <div class="features">
                    <h4>Key Features</h4>
                    <p id="project-keyfeatures" style="padding-left:15px;">
                    
                    <h4 style="text-decoration: underline;">Automation Testing</h4>

                    <ul>
                        <li>Scope: Ideal for repetitive tasks, regression testing, performance testing, and test cases with well-defined steps.</li>
                        <li>Strengths: Efficient, fast, minimizes human error, allows for frequent test execution.</li>
                        <li>Weaknesses: Not suitable for exploratory testing, usability testing, or tests requiring human intuition. Setting up automation scripts can be time-consuming initially.</li>
                    </ul>

                    <h4 style="text-decoration: underline;">Manual Testing</h4>

                    <ul>
                        <li>Scope: Exploratory testing, usability testing, tests requiring human judgment and creativity (like user interface testing).</li>
                        <li>Strengths: Effective in uncovering usability issues, intuitive for exploring software creatively, better suited for tests that are difficult to automate.</li>
                        <li>Weaknesses: Prone to human error, time-consuming for repetitive tasks, can be less consistent across testers.</li>
                    </ul>
                    <div class="view-screenshots container" style="float:right;" {{on "click" this.viewScreenShots}}>
                         <div class="parent">
                            <span style="padding:10px 15px;border:1px solid white;border-radius:30px;align-items:center;">View ScreenShots <i class="fa-solid fa-camera"></i></span>  
                            <div class="tooltip">click to view project Screenshots</div>
                         </div>
                    </div></p>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact division">
          <section>
            <div class="section-header">
            <div class="container">
                <h2>Contact</h2>
                <p>Feel free to reach out! You have the option to either complete the contact form below or send me an email using the provided email address or by using social platforms. Please feel free to contact me and I will be happy to assist you with any questions or concerns you may have.</p>
            </div>
            </div>
            
            <div class="container">
            <div class="row">
                
                <div class="contact-info">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Address</h4>
                            <p>No.3/5, 3rd Street, Rathna nagar <br>Allapakkam , Chennai - 600116 <br>Tamil Nadu</p>
                        </div>
                    </div>
                    
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Phone</h4>
                            <p>(+91) 7092416147</p>
                        </div>
                    </div>
                    
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-info-content">
                            <h4>Email</h4>
                            <p>naveen20020125@gmail.com</p>
                        </div>
                    </div>
                </div>
                
                <div style="width: 50%;">
                    <div class="contact-form">
                        <form onsubmit={{this.sendSMS}} id="contact-form">
                            <h2>Send Message</h2>
                            <div class="input-box">
                                <input type="text" required="true" name="name" autocomplete="off"/>
                                <span>Full Name</span>
                            </div>

                            <div class="input-box">
                                <input type="tel" id="phone" name="mobile" pattern="[0-9]{10}" required="true" {{on "keyup" (fn this.checkMaxLength 10)}} autocomplete="off"/>
                                <span>Mobile</span>
                            </div>
                            
                            <div class="input-box">
                                <input type="email" required="true" name="mail" autocomplete="off">
                                <span>Email</span>
                            </div>
                            
                            <div class="input-box">
                                <textarea id="messagebox" required="true" name="message"></textarea>
                                <span>Type your Message...</span>
                            </div>
                            
                            <div class="input-box">
                                <input type="submit" value="Send" name="">
                            </div>
                        </form>
                    </div>
                    <div class="social-platforms">
                        Connet with: <a href="https://www.instagram.com/the_plot_kid/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>  <a href="https://x.com/NaveenB7092/" target="_blank" rel="noopener noreferrer"><img style="font-size: 25px;border-radius: 28px;padding: 8px;margin: 3px;border: 2px solid white;height: 26px;" src="/naveen/twitter_icon.png"></a>  <a href="https://www.linkedin.com/in/naveen-b-7316252b3?" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
            </div>
        </section>
  
    </div>
</div>

<Message-box @statusMessage={{this.statusMessage}} />
<Loader @isloading={{this.isloading}} />
